spring:
  application:
    name: ShortenedLinks
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        format_sql: true
  jackson:
    time-zone: UTC


link:
  ttl-minutes: 10

logging:
  file:
    name: logs/app.log
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %5level %logger{36} - %msg%n"
  level:
    root: INFO
    un.links.shortenedlinks: INFO